{% extends 'base.html.twig' %}
{% block title %}Cinquième{% endblock %}
{% block sideLeft %}

    <div class="row">
        <div class="card col-md-10 col-xs-12">
            <img class="card-img-top" src="https://placeimg.com/380/230/animals" alt="Card image cap">
            <div class="card-body">
                <a href="#" class="btn btn-secondary">Pub tiers</a>
            </div>
        </div>
    </div>


{% endblock %}

{% block linksContent %}
    <div class="row">

        <div class="panel panel-default">
            <div class="bs-callout bs-callout-danger" style="   -moz-border-bottom-colors: none;
                    -moz-border-left-colors: none;
                    -moz-border-right-colors: none;
                    -moz-border-top-colors: none;
                    border-color: #eee;
                    border-image: none;
                    border-radius: 3px;
                    border-style: solid;
                    border-width: 1px 1px 1px 5px;
                    margin-bottom: 5px;
                    border-left-color: #122e48;
                    padding: 20px;">
                <h4>Collège : Qu'allez-vous apprendre en classe de 5 ième ?</h4>
                <p class="text-justify">
                    Vous voulez en savoir plus sur ce qui vous attend au programme, cette année, en 5e ? Suivez le
                    guide.

                    Des indications sur ce que l'on attend de vous, classe par classe, sont jointes à ces nouveaux
                    programmes.
                    Elles vous donnent un bon aperçu de ce que vous aurez à apprendre cette année.
                </p>

            </div>
        </div>

    </div>

    <div class="row">
        <p>
        <blockquote style="    font-size: 80% !important;
                page-break-inside: avoid;
                border: 3px solid #fff;
                width: 100%;
                -webkit-box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;
                -mox-box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;
                -ms-box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;
                box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;

                padding: 10px 20px;
                margin: 0 0 20px;
                font-size: 17.5px;
                border-left: none;">
            <b>Français: </b> <span style=" font-weight:700;
                color:#c7254e;float:right;
                font-family: Menlo, Monaco, Consolas, " Courier New", monospace">4h 30 hebdomadaire</span>
        </blockquote>

        </p>
        <span class="text-justify">
                         Des œuvres littéraires variées pour vous assurer une autonomie suffisante en lecture et écriture :
                    des contes et récits mythologiques pour découvrir le monstre, aux limites de l'humain ; des fables
                    et des pièces de théâtre sur le thème de la ruse qu'invente le faible pour résister au plus fort ;
                    des récits de voyage pour vous tenir en haleine.

                    </span>

    </div>

    <div class="row">

        <blockquote style="    font-size: 80% !important;
                page-break-inside: avoid;
                border: 3px solid #fff;
                width: 100%;
                -webkit-box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;
                -mox-box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;
                -ms-box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;
                box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;

                padding: 10px 20px;
                margin: 0 0 20px;
                font-size: 17.5px;
                border-left: none;">
            <b>Histoire-Géographie: </b> <span style=" font-weight:700;
                color:#c7254e;float:right;
                font-family: Menlo, Monaco, Consolas, " Courier New", monospace">3h 30 hebdomadaire</span>
        </blockquote>

        </p>
        <span class="text-justify">
                       En histoire : les débuts de l'humanité au travers de la préhistoire et des premières grandes
                        migrations puis les récits fondateurs de la méditerranée
                        (les cités grecques, l'empire romain et ses conquêtes...)<br/>
                        En géographie : les grandes métropoles du monde et les caractéristiques des territoires à faible ou
                        forte densité comme les littoraux. Vous serez aussi invités à imaginer la ville du futur.

                    </span>

    </div>


    <br/>
    <br/>


{% endblock %}

