{% extends 'base.html.twig' %}

{% block linksContent %}

<h5> CLASSE  DE:</h5>
<div>

        <form >
            <select id="promotion" class="form-control">
                <option value="">Choisissez votre promotion</option>
                {% for promotion in promotions %}
                    <option value="{{ promotion.id }}">{{ promotion }}</option>
                {% endfor %}
            </select>
        </form>




    <div id ="viewprogramme"></div>

    <br><br>
</div>

{% endblock %}



