{% extends 'adminbase.html.twig' %}

{% block admin %}
<h3>xxxxxxx  Quallez vous apprendre xxxxxxxx</h3>
<h3>xxxxxxx  CHOISISSEZ VOTRE CLASSE xxxxxxxx</h3>
<div>
{{form(form)}}
</div>
XXXXXXXXXXXXXXXXXXXXXXXXXXX


{% endblock %}



