{% extends 'base.html.twig' %}


{% block sideLeft %}

    <div class="row">
        <div class="card col-md-10 col-xs-12" >
            <img class="card-img-top" src="https://placeimg.com/380/230/tech" alt="Card image cap">
            <div class="card-body">
                <a href="#" class="btn btn-secondary">Pub tiers</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block linksContent %}
    <h3>Quatrième</h3>
{% endblock %}
