{% extends 'base.html.twig' %}

{% block title %}Sixième{% endblock %}
{% block sideLeft %}
    
    <style>
        .w3-display-middle:hover
        {
            color: #212529;
            border: 1px solid #1EA692;
           border-radius:15px;
            background: #0FD8BB;
            opacity: 0.8
        }
    </style>

    <div class="row">
        <div class="card col-md-10 col-xs-12">
            <img class="card-img-top" src="https://placeimg.com/380/230/nature" alt="Card image cap">
            <div class="card-body">
                <a href="#" class="btn btn-secondary">Pub tiers.</a>
            </div>
        </div>
    </div>


{% endblock %}

{% block linksContent %}


<div class="row">
 
  
</div>

  





    <div class="row">

        <div class="panel panel-default">
            <div class="bs-callout bs-callout-danger" style="   -moz-border-bottom-colors: none;
                    -moz-border-left-colors: none;
                    -moz-border-right-colors: none;
                    -moz-border-top-colors: none;
                    border-color: #eee;
                    border-image: none;
                    border-radius: 3px;
                    border-style: solid;
                    border-width: 1px 1px 1px 5px;
                    margin-bottom: 5px;
                    border-left-color: #122e48;
                    padding: 20px;">

                <h1 style="color:#F417AA; text-align:center">Bienvenu au collège</h1>
                 <div class="">
                  <div class="card">
                      <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                          <i class="material-icons"><img src="../../web/footable/demos/imagesPaul/image6.jpg" alt="Lights" style="width:100%"></i>
                        </div>
                        <h2 class="card-title">Qu'allez-vous apprendre en classe de 6 ième ?</h2>
                      </div>
                      <div class="card-body">
                          Vous voulez en savoir plus sur ce qui vous attend au programme, cette année, en 6e ? Suivez le
                    guide.
                    La sixième marque le début du collège mais également la fin du cycle 3 dit de "consolidation".
                    Celui-ci
                    regroupe également les classes de CM1 et CM2.
                    Des indications sur ce que l'on attend de vous, classe par classe, sont jointes à ces nouveaux
                    programmes.
                    Elles vous donnent un bon aperçu de ce que vous aurez à apprendre cette année.
                      </div>
                  </div>
              </div>




            </div>
        </div>

    </div>



    <div class="row">
        <p>
        <blockquote style="    font-size: 80% !important;
                page-break-inside: avoid;
                border: 3px solid #fff;
                width: 100%;
                -webkit-box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;
                -mox-box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;
                -ms-box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;
                box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;

                padding: 10px 20px;
                margin: 0 0 20px;
                font-size: 17.5px;
                border-left: none;">
            <b>Français: </b> <span style=" font-weight:700;
                color:#c7254e;float:right;
                font-family: Menlo, Monaco, Consolas, " Courier New", monospace">4h 30 hebdomadaire</span>
        </blockquote>

        </p>
        <span class="text-justify">
                         Des œuvres littéraires variées pour vous assurer une autonomie suffisante en lecture et écriture :
                    des contes et récits mythologiques pour découvrir le monstre, aux limites de l'humain ; des fables
                    et des pièces de théâtre sur le thème de la ruse qu'invente le faible pour résister au plus fort ;
                    des récits de voyage pour vous tenir en haleine.

            <br/><br/>
            <p>
                <a class="btn btn-danger" href="#">
                        Télécharger le programme
                </a>
                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#fransais" aria-expanded="false" aria-controls="fransais" style=" font-weight:700;
                            float:right;
                            font-family: Menlo, Monaco, Consolas, " Courier New", monospace">
                       Ouvrage au programme
                </button>
            </p>
            <br><br>
                <div class="collapse" id="fransais" style="text-align:center">
                  <div class="card card-body">
                    <div class="row">

                       <div class="col-md-3"><img class="rounded" src="../../web/footable/demos/imagesPaul/image2.jpg" alt="Paris1" width="150" height="118">
                            <p>Le Dilème</p>
                       </div>

                       <div class="col-md-3"><img class="rounded"  src="../../web/footable/demos/imagesPaul/image3.jpg" alt="Paris2" width="150" height="118">
                            <p>Un Piège Sans Fin</p>
                       </div>

                       <div class="col-md-3"><img class="rounded"  src="../../web/footable/demos/imagesPaul/image7.jpg" alt="Paris1" width="150" height="118">
                            <p>Le Bout de Bois de Dieu</p>
                       </div>

                       <div class="col-md-3"><img class="rounded"  src="../../web/footable/demos/imagesPaul/image1.jpg" alt="Paris2" width="150" height="118">
                            <p>Sous l'Orage</p>
                       </div>

                    </div>
                  </div>
                </div>

                <br/>

        </span>

    </div>



    <div class="row">

        <blockquote style="    font-size: 80% !important;
                page-break-inside: avoid;
                border: 3px solid #fff;
                width: 100%;
                -webkit-box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;
                -mox-box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;
                -ms-box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;
                box-shadow: inset 5px 0px 0px 0px #f60, 8px 8px 8px 2px #888;

                padding: 10px 20px;
                margin: 0 0 20px;
                font-size: 17.5px;
                border-left: none;">
            <b>Histoire-Géographie: </b> <span style=" font-weight:700;
                color:#c7254e;float:right;
                font-family: Menlo, Monaco, Consolas, " Courier New", monospace">3h 30 hebdomadaire</span>
        </blockquote>

        </p>
        <span class="text-justify">
                       En histoire : les débuts de l'humanité au travers de la préhistoire et des premières grandes
                        migrations puis les récits fondateurs de la méditerranée
                        (les cités grecques, l'empire romain et ses conquêtes...)<br/>
                        En géographie : les grandes métropoles du monde et les caractéristiques des territoires à faible ou
                        forte densité comme les littoraux. Vous serez aussi invités à imaginer la ville du futur.


<br/><br/>
            <p>
                <a class="btn btn-danger" href="#">
                        Télécharger le programme
                </a>
                <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#histoireGeo" aria-expanded="false" aria-controls="histoireGeo" style=" font-weight:700;
                            float:right;
                            font-family: Menlo, Monaco, Consolas, " Courier New", monospace">
                       Ouvrage au programme
                </button>
            </p>
            <br><br>
                <div class="collapse" id="histoireGeo" style="text-align:center">
                  <div class="card card-body">
                   liste des ouvrages au progamme
                  </div>
                </div>

                <br/>

                    </span>

    </div>


    <br/>
    <br/>



{% endblock %}



