{% extends 'adminbase.html.twig' %}
{% block title %}RTF Admin page{% endblock %}
{% block admin %}
	<h2>BIENVENUE SUR LA PAGE ACCUEIL ADMINISTRATEUR DE RTF</h2>
	<p>accueil à battir prochainement</p>
{% endblock %}

