{% extends 'base.html.twig' %}
{% block title %}Orientation post-bac{% endblock %}

{% block sideLeft %}
	
		<div class="row">
		<div class="card col-md-10 col-xs-12" >
		  <img class="card-img-top" src="https://placeimg.com/380/230/nature" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">News 1</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-secondary">Suite...</a>
		  </div>
		</div>
		</div>
		<br>
		<div class="row">
		<div class="card col-md-10 col-xs-12" >
		  <img class="card-img-top" src="https://placeimg.com/380/230/animals" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">News 2</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-secondary">Suite...</a>
		  </div>
		</div>
		</div>
		
			<br>
		<div class="row">
		<div class="card col-md-10 col-xs-12" >
		  <img class="card-img-top" src="https://placeimg.com/380/230/tech" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">News 3</h5>
			<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-secondary">Suite...</a>
		  </div>
		</div>
		</div>

{% endblock %}

{% block linksContent %}
<div class="row">
			<a href='#' class='col-md-12'>
			  <article class='style1'>
				<div class='date'>
				  Actualité
				</div>
				<!--must have larger width than height-->
				<i class="loader fa fa-spinner"></i>
			
				<div class='content'>
				  <!--32 charecter max-->
				  <div class='title'>
					CUW contributes to safe disposal of drugs<i class="share fa fa-share-square-o"></i>
				  </div>
				  <div class='info'>
					<p>Concordia University Wisconsin will honor more than 1,000 graduates at its spring commencement ceremonies on May 13 and 14, taking place at the University’s main campus in Mequon.</p>
				  </div>
				</div>
			  </article>
			</a>
		</div>
		
				<div class="row">
			<a href='#' class='col-md-12'>
			  <article class='style1'>
				<div class='date'>
				  Actualité
				</div>
				<!--must have larger width than height-->
				<i class="loader fa fa-spinner"></i>
				<img class='lazy' data-original='https://www.cuw.edu/_files/images/test.JPG'>
				<div class='content'>
				  <!--32 charecter max-->
				  <div class='title'>
					CUW contributes to safe disposal of drugs<i class="share fa fa-share-square-o"></i>
				  </div>
				  <div class='info'>
					<p>Concordia University Wisconsin will honor more than 1,000 graduates at its spring commencement ceremonies on May 13 and 14, taking place at the University’s main campus in Mequon.</p>
				  </div>
				</div>
			  </article>
			</a>
		</div>
		
		<div class="row">
			<a href='#' class='col-md-12'>
			  <article class='style1'>
				<div class='date'>
				  Actualité
				</div>
				<!--must have larger width than height-->
				<i class="loader fa fa-spinner"></i>
				<img class='lazy' data-original='https://www.cuw.edu/_files/images/test.JPG'>
				<div class='content'>
				  <!--32 charecter max-->
				  <div class='title'>
					titre de votre actualité<i class="share fa fa-share-square-o"></i>
				  </div>
				  <div class='info'>
					<p>Concordia University Wisconsin will honor more than 1,000 graduates at its spring commencement ceremonies on May 13 and 14, taking place at the University’s main campus in Mequon.</p>
				  </div>
				</div>
			
			  </article>
			</a>
		</div>
		
				<div class="row">
			<a href='#' class='col-md-12'>
			  <article class='style1'>
				<div class='date'>
				  Actualité
				</div>
				<!--must have larger width than height-->
				<i class="loader fa fa-spinner"></i>
				<img class='lazy' data-original='https://www.cuw.edu/_files/images/test.JPG'>
				<div class='content'>
				  <!--32 charecter max-->
				  <div class='title'>
					CUW contributes to safe disposal of drugs<i class="share fa fa-share-square-o"></i>
				  </div>
				  <div class='info'>
					<p>Concordia University Wisconsin will honor more than 1,000 graduates at its spring commencement ceremonies on May 13 and 14, taking place at the University’s main campus in Mequon.</p>
				  </div>
				</div>
			  </article>
			</a>
		</div>
		
				<div class="row">
			<a href='#' class='col-md-12'>
			  <article class='style1'>
				<div class='date'>
				  Actualité
				</div>
				<!--must have larger width than height-->
				<i class="loader fa fa-spinner"></i>
				<img class='lazy' data-original='https://www.cuw.edu/_files/images/test.JPG'>
				<div class='content'>
				  <!--32 charecter max-->
				  <div class='title'>
					CUW contributes to safe disposal of drugs<i class="share fa fa-share-square-o"></i>
				  </div>
				  <div class='info'>
					<p>Concordia University Wisconsin will honor more than 1,000 graduates at its spring commencement ceremonies on May 13 and 14, taking place at the University’s main campus in Mequon.</p>
				  </div>
				</div>
			  </article>
			</a>
		</div>
		
				<div class="row">
			<a href='#' class='col-md-12'>
			  <article class='style1'>
				<div class='date'>
				  Actualité
				</div>
				<!--must have larger width than height-->
				<i class="loader fa fa-spinner"></i>
				<img class='lazy' data-original='https://www.cuw.edu/_files/images/test.JPG'>
				<div class='content'>
				  <!--32 charecter max-->
				  <div class='title'>
					CUW contributes to safe disposal of drugs<i class="share fa fa-share-square-o"></i>
				  </div>
				  <div class='info'>
					<p>Concordia University Wisconsin will honor more than 1,000 graduates at its spring commencement ceremonies on May 13 and 14, taking place at the University’s main campus in Mequon.</p>
				  </div>
				</div>
			  </article>
			</a>
		</div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
