{% extends 'adminbase.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block admin %}
    <h1>Departement creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <!--input type="submit" value="Create" /-->
        <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('index_departement') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
