{% extends 'adminbase.html.twig' %}

{% block admin %}
    <h1>Arrondissement creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('index_arrondissement') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
